* {margin: 0; padding: 0; }

html, body {background: #333; font: 12px sans-serif; color: white}

body {padding-top: 1.8em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

html, body, table, tbody, tr, td {height: 100%}

table {table-layout: fixed; width: 100%; height: 100%; }

td {width: 33%; padding: 3px 4px; border: 1px solid transparent; vertical-align: top; font: 1em monospace; text-align: left; white-space: pre-wrap; }

h1 {display: inline; font-size: 100%;}

del {text-decoration: none; color: #b30000; background: #fadad7;}

ins {background: #eaf2c2; color: #406619; text-decoration: none;}

#scrollsup {height: 50%; max-height: 50%; overflow:scroll;}

#scrolllow {height: 50%; max-height: 50%; overflow:scroll;}

#settings {position: absolute; top: 0; left: 5px; right: 5px; height: 2em; line-height: 2em; }

#settings label { margin-left: 14px; } 

.source {position: absolute; right: 1%; top: .2em;}

[contentEditable] {background: #3b3b3b; border-color: #000 #000000 #000; border-radius: 12px; -webkit-user-modify: read-write-plaintext-only; outline: none; }

[contentEditable]:focus {background: #393939; border-color: #6699cc; box-shadow: 0 0 4px #2175c9; }

.tooltip {position: relative; display: inline-block; border-bottom: 1px dotted black;width: 100px!important; }

.tooltip .tooltiptext {visibility: hidden; width: 400px; background-color: black; color: #fff; text-align: center; border-radius: 12px; padding: 15px 0; /* Position the tooltip */ position: absolute; z-index: 1; margin-top: 50px; margin-left: -138px;}

.tooltip:hover .tooltiptext {visibility: visible;}

@-moz-document url-prefix() {body {height: 99%; }}

#result {margin-top: -500px}